<!-- This Django syntax allows us to extend this home.html 
 from the static/templates/base.html for a robust front-end. -->
{% extends "base.html" %}

<!-- 'block title' allows us to dynamically define our website title. -->
{% block title %} Service Provider - Login {% endblock %}

<!-- 'block content' allows us to inject this html into our base.html -->
{% block content %}
<!-- { % block body_class %}login-sp{% endblock %} -->
<div id="login-heading">
  <h1>Login as Service Provider</h1>
</div>


<div id="login-form">
  <form
    class="login-form-with-validation"
    action="/accounts/login_sp/"
    method="post"
  >
    {% csrf_token %} {{ form.as_p }}



  <button>Login</button>
  </form>
</div>

{% endblock %}
