* {
    margin: 0;
}

nav {
    position: sticky;
    background-color: whitesmoke;
}

.nav-links-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
    gap: 15px;
}

.nav-links-container a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    color: black;
}

/* CSS for Login page */

 .login-sp {
    text-align: center;
    font-family: 'Inter', 'Aptos', 'Arial';
    color: '#545F71';
 }