# Service Provider Verification Status
As a service provider I want a subscription based verification status that promotes my services visibility

## Priority: 50

## Estimation: 4 days

## Assumptions:
- Service provider will pay a monthly fee for verification status
- Service provider must have already registered as a service provider before registeringl

## Description:
The service provider should be able to pay for a monthly subscription that "verifies" their profile and promotes it on the front page.

## Tasks
- Extend ServiceProvider model add is_verified field
- Create subscription model to store payment details
- Create API endpoints
- Unit testing

## In progress:

# UI Design:

# Completed:

## Screenshot(s):

# Project Links:

- [Iteration 2](my-clean-project\documentations\iteration_2.md)
- [Main Project](../../README.md)
